:root {
    --background_color: #FAF9F6;
    --color: #212D5D;
    --input_color: rgba(33, 45, 93, 0.75);
    --border_color: rgba(33, 45, 93, 0.2);
    --input_background_color: #FAF9F6;
    --button_background_color: rgba(33, 45, 93, 0.75);
    --button_border_color: rgba(33, 45, 93, 0.75);
    --company_border_color: #212D5D;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background_color: #1C1C1C;
        --color: #FAF9F6;
        --input_color: #FAF9F6;
        --border_color: rgba(255, 255, 255, 0.2);
        --input_background_color: #434343;
        --button_background_color: #1C1C1C;
        --button_border_color: #8f99ff;
        --company_border_color: #FAF9F6;
    }
}
*::before,
*::after {
    box-sizing: border-box; 
}
a {
    text-decoration: none;
}
h1 {
    font-size: 200%;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--color);
}
body {
    background-color: var(--background_color);
    color: var(--color);
}

/* main */
.main_framework {
    display: flex;
    width: 100%;
    min-height: 100dvb;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.main_container {
    flex: 1;
    display: flex;
    margin: 0 auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* logo */
.logo_framework {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    margin: 40px 0;
}
.logo_container {
    display: flex;
    max-width: 200px;
    max-height: 50px;
    min-width: 140px;
    justify-content: center;
    align-items: center;
}
.logo_container picture {
    min-width: 75px;
}
.logo_container img {
    max-width: 100%;
    max-height: 100%;
}
.version {
    font-size: 18px;
    color: var(--color);
    margin-bottom: 2%;
}

/* footer */
footer {
    position: sticky;
    bottom: 0;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin-top: 40px;
    justify-content: center;
    border-top: 1px solid #6D6D6D;
    background-color: var(--background_color);
}
.footer_framework {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}   
.footer_link {
    display: flex;
    width: 100%;
    gap: 3%;
    height: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer_link a {
    font-size: 80%;
    margin: 12px 0;
    text-decoration: none;
    color: var(--color);
    text-decoration: underline;
}
.copy {
    font-size: 17px;
    margin: 3px 0;
}
.attention {
    font-size: 10px;
    margin: 12px 0;
    color: #6D6D6D;
}