.dli-home {
  display: inline-block;
  vertical-align: middle;
  color: #212d5d;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 0.75em;
  border: 0.1em solid currentColor;
  border-top: 0;
  box-sizing: border-box;
}

.dli-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.70711em;
  height: 0.70711em;
  border: 0.1em solid currentColor;
  border-right: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translate(-50%, -46%) rotate(45deg) skew(-10deg, -10deg);
}

.dli-home::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.1em;
  width: 45%;
  height: 75%;
  border: 0.1em solid currentColor;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateX(-50%);
}

body.dark-mode .dli-home {
  color: #fff;
} 