@charset "UTF-8";

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 251, 242);
}



/* フォント関連 */

.japanese {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: italic;
}

.english {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

/* /フォント関連 */

/* ヘッダー関連 */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0, #c0c0c0);
    padding: 0 10%;
    box-shadow: 0 10px 15px #6d6d6d;
    z-index: 3;
}

.header-back {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
}


.logo-link img {
    margin-top: 10px;
    height: 55px;
    cursor: pointer;
}

.head-link {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

/* /ヘッダー関連 */

/* Aタグ関連 */

a {
    position: relative;
    text-decoration: none;
    color: var(--link-color);
}
  
a::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: var(--underline-color);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
  
a:hover {
  color: var(--hover-color);
}
  
a:hover::after {
  transform: scale(1, 1);
}

.logo-link {
  text-decoration: none;
}
  
.logo-link::after {
  content: none;
}

:root {
  --link-color: #212d5d;
  --hover-color: #6d6d6d;
  --underline-color: #6d6d6d;
}

.head-link a {
  text-decoration: none;
  font-size: 20px;
  white-space: nowrap;
  position: relative;
  margin: 0 15px;
  display: inline-block;
}

/* /Aタグ関連 */

/* フッター関連 */

footer {
  margin-top: 100px;
  background: #ababab;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #212d5d;
  --link-color: white;
  --hover-color: #577C8A;
  --underline-color: #577C8A;
}

footer p {
  color: white;
  font-size: 20px;
  margin-left: 0;
}

.foot-container a {
  position: relative;
  font-size: 17px;
  margin: 0 20px;
  display: inline-block;
  text-decoration: none;
}

.virtual-container {
width: 100%;
height: auto;
}

.virtual-container p {
text-align: center;
font-size: 10px;
color: white;
}

/* /フッター関連 */

/* --------------------dark mode--------------------- */

.dark-botton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dark-botton p {
  color: #000000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.d_slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border: 1px solid #212d5d;
  border-radius: 34px;
}

.d_slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  top: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .d_slider::before {
  transform: translateX(70px);
}

input:checked + .d_slider {
  background-color: rgb(51, 51, 51);
}

/* ダークモード内容 */

body.dark-mode {
  --bg-color: #242936;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --hover-color: #a7a7a7;
  --underline-color: #a7a7a7;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode .dark-botton p {
  color: #ffffff;
}

body.dark-mode .d_slider {
  border:  1px solid white;
}

body.dark-mode header {
  background: linear-gradient(to bottom, #5a5a5a, #4a4a4a, #3a3a3a);
}

body.dark-mode footer {
  background: #000000;
}

body.dark-mode img {
  filter: brightness(70%);
}

body.dark-mode .logo-link img {
  filter: brightness(100%);
}

body.dark-mode .head-link img {
  filter: brightness(100%);
}





/* スマホモード */

@media (max-width: 984px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
  }

  header {
    display: flex;
    position: fixed;
    top:  unset;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0, #c0c0c0);
    padding: 0 10%;
    box-shadow: 0 10px 15px #6d6d6d;
    z-index: 3;
  }

  .head-link a {
  font-size: 20px;
  margin: 0 5px;
}

  .logo-link img {
    cursor: pointer;
  }

  .header-back {
    display: flex;
    position: fixed;
    width: 100%;
    height: 120px;
    top: unset;
    bottom: 0;
    left: 0;
  }

  footer {
    margin-bottom: 75px;
  }
  
  footer p {
    color: white;
    font-size: 17px;
  }

  .foot-container a {
    font-size: 13px;
  }
}

