.home_framework {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100vh - 125px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_framework {
    margin: 0;
}

.search_frame {
    display: flex;
    min-height: 200px;
    width: 100%;
    height: auto;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

    .input_box_frame {
        display: flex;
        width: 45%;
        height: auto;
        margin: 25px 0 20px 0;
        justify-content: space-between;
        align-items: center;
    }

    .input_box_frame input {
        width: calc(100% / 2.2);
        height: 50px;
        font-size: 145%;
        text-align: center;
        text-transform: uppercase;
        color: var(--h_color);
        background-color: var(--input_background_color);
        border-radius: 5px;
        border: 1px solid var(--border_color);
    }

#result {
    display: flex;
    width: 35%;
    max-height: 275px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    overflow-y: auto;
}

    #result p {
        margin: 12px 0;
        font-size: 15px;
    }

    .result_a_frame {
        width: 100%;
        height: auto;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid var(--border_color);
        transition: transform 0.2s ease, background-color 0.2s ease;
    }

        .result_a_frame button {
            width: 85%;
            height: auto;
            padding: 10px;
            background: var(--button_background_color);
            border: 1px solid #8f99ff;
            border-radius: 5px;
        }

        .result_a_frame a {
            font-size: 120%;
            color: rgba(255, 255, 255, 0.85);
        }

        .result_a_frame:last-child {
            border-bottom: none;
        }

/* happy new year */
.happy_new_year {
    width: 100%;
    height: auto;
    color: var(--company_border_color);
    font-size: 100%;
    text-align: center;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

    .happy_new_year p {
       margin: 25px;
       font-size: 255%;
    }