h1 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-style: normal;
    margin-top: 45px;
    font-size: 50px;
    padding: 0.5em;
    background: #8AA9B6;
    border-left: solid 10px #212d5d;
}
    
h2 {
    color: #212d5d;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    scroll-margin-top: 350px; 
}

.container {
    margin-top: 100px;
    width: 45%;
    height: auto;
    border-bottom: 5px solid #212d5d;
}

.time {
    margin-top: 35px;
    margin-left: 11%;
    color: black;
}
 
p {
    margin-bottom: 35px;
    margin-left: 13%;
    font-size: 19px;
    color: #2c2c2c;

}

.point {
    margin-top: 10px;
    margin-left: 13%;
    font-size: 12px;
    color: #b8b8b8;
}

/* dark mode */
body.dark-mode p{
    color: #ffffff;
}

body.dark-mode h1 {
    background: #3C7B91;
}

body.dark-mode h2 {
    color: #77c3df;
}

body.dark-mode .point {
    color: #e4e4e4;
}

body.dark-mode .container{
    border-bottom: 5px solid #ffffff;
}

@media (max-width: 767px) {
    h1 {
        margin-left: 13%;
        width: 86%;
        font-size: 35px;
    }

    h2 {
    font-size: 24px;
    margin-left: 0;
    }

    .container {
        margin-left: 13%;
        width: 65%;
    }

    p {
        margin-left: 0;
    }
}